@import "~bootstrap/dist/css/bootstrap.min.css";

/* html{
  /* Html font-size = 16px */
/* 1 rem = 16px */
  /* font-size: 62.5%; */
/* }  */

/* Html font-size = 16px */
/* 1 rem = 16px */

body{
  font-family: 'Lato', sans-serif;
}
*,::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root{
--primary: #333333;
--secondary: #fe7000;
--couleur-texte1 : #fff
}

a{
  text-decoration: none;
}


/* .btnGlobal{
  background-color: var(--secondary);
  color: #000;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: 600;
} */

h1{
  color:var(--couleur-texte1) ;
  text-transform: uppercase;
  
}

main p{
  color: var(--couleur-texte1);
}

@media screen and (max-width: 1000px ){
  .btn1 {
      margin-bottom: 30px;
  }
}

