.inputGroup {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}
.inputLabel {
  text-align: left;
}
.inputField {
  border-radius: 10px;
  /* border: none; */
  border: 1px solid var(--primary);
  outline: none;
  padding: 10px;
}

.textarea {
  height: 12rem;
  border-radius: 10px;
  border: 2px solid orange;
  padding: 1rem;
}

.submitButton {
  /* height: 6rem; */
  width: 10rem;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  border: none;
  margin: 0.5rem auto;
  padding: 10px 10px;
  font-weight: 600;
}

/* .submitButton:hover {
  border: 2px solid orange;
  color: orange;
  background-color: white;
} */

.container_formul {
  margin: 0.5rem 0;
  background-color: rgba(232, 232, 232, 0.869);
}

.main {
  padding: 1rem;
}

.formInscription {
  color: var(--primary);
}
