.couleurFond {
  background-color: var(--primary);
  color: white;
}

.trait {
  padding: 0px;
  width: 57px;
  height: 2px;
  background-color: var(--secondary);
  margin: 10px auto;
}

.trait2 {
  padding: 0px;
  width: 57px;
  height: 2px;
  background-color: var(--secondary);
}
